---
---

<html>
<head>
  <title>devdream</title>
  <link rel="stylesheet" href="{{ 'style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include navbar.html %}

  {% for page_i in archive_pages_reverse limit: 3 %}
  <div class="content">
    <a class="nav_title" href="{{ page_i.url | relative_url }}">
      <h2>|- - - {{page_i.title}} - - -|</h2>
      <img src="{{ page_i.thumbnail | relative_url }}" alt="{{page_i.thumbnail_alt}}">
    </a>
  </div>
  <br><br>
  {% endfor %}

  {% include footer.html %}
</body>
</html>
