.link_youtube{
    color: #ff7474;
}

.link_ko-fi{
    color: #ff97fa;
}

.link_github{
    color: #c9c9c9;
}

.link_twitter{
    color: #90cdff;
}

.link_bluesky {
    color: #a0edff
}

.link_itch_io{
    color: #ffd392;
}

.link_instagram{
    color: #ffd092;
}
